* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: hidden;
}

body {
    background-color: hsl(0, 0%, 0%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
}

.rectangle {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 30px;
}

/* 容器调整 */
.buttons {
    position: absolute;
    bottom: 8px;
    display: flex;
    justify-content: space-between; /* 均匀分布按钮 */
    align-items: center;
    width: 0; /* 容器宽度 */
    height: 0; /* 容器高度 */
    padding: 0; /* 按钮间隙根据窗口底边长的1/120 */
    z-index: 10; /* 确保容器在最上层 */
}

/* 按钮样式 */
.square-button {
    background-color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
    width: 0; /* 按钮宽度 */
    height: 0; /* 按钮高度，保持正方形 */
    margin-right: 0; /* 按钮之间的间隙，窗口底边长的1/120 */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* 添加渐变过渡 */
    display: flex;
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
}

/* 移除最后一个按钮的右边距 */
.square-button:last-child {
    margin-right: 0;
    
}

.square-button:hover {
    background-color: hsl(0, 0%, 8%)); /* 深灰色背景 */
    filter: brightness(1.2); /* 使按钮颜色变暗 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* 添加渐变过渡 */
}

/* 圆圈元素的样式 */
#le00, #re00 {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.ear {
    position: absolute;
    user-select: none;
    font-size: 60px;
    color: white;
    font-weight: normal;
    user-select: none;
}

#leftEar {
    top: 5%;
    user-select: none;
    left: 10%;
}

#rightEar {
    top: 5%;
    user-select: none;
    right: 10%;
}

/* 屏幕小于 768px 时，调整元素大小 */
@media (max-width: 768px) {
    #le00, #re00 {
        width: 80px;
        height: 80px;
    }
    .ear {
        font-size: 50px;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }
}




#pinkArrow {
    position: absolute;
    user-select: none;
    pointer-events: none;
    color: rgb(0, 0, 0);
    font-size: 50px;
    transform: translate(-50%, -50%) scaleY(1.0) scaleX(1.0)
}

#blackSymbol1, #blackSymbol2, #blackSymbol3, #blackSymbol4, #blackSymbol5 {
    position: absolute;
    user-select: none;
    pointer-events: none;
    color: black;
    font-size: 60px;
    font-weight: bold;
    transform: translate(-50%, -50%) scaleY(0.5) scaleX(1.2)
}

.mouth0 {
    user-select: none;
    position: absolute;
    pointer-events: none;
    color: white;
    font-weight: bold;
    font-size: 60px;
    transform: translate(-50%, -50%) scaleY(0.48) scaleX(1.2);
}

#mouth0c, #mouth0c2 {
    user-select: none;
    position: absolute;
    pointer-events: none;
    color: black;
    font-weight: bold;
    font-size: 60px;
    transform: translate(-50%, -50%) scaleY(0.5) scaleX(1.2);
}

#blacksquare {
    position: absolute;
    user-select: none;
    pointer-events: none;
    color: black;
    font-size: 60px;
    font-weight: bold;
    transform: translate(-50%, -50%) scaleY(1.0) scaleX(1.4)
}

